{% extends 'base.html.twig' %}

{% block title %}Уроки{% endblock %}

{% block body %}
    <h1 class="mb-4">Уроки</h1>

    {% for lesson in lessons %}
        <div class="col-md-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ lesson.name }}</h5>
                    <p class="card-text">{{ lesson.content }}</p>
                    <a class="card-link" style="text-decoration: none" href="{{ path('app_lesson_show', {'id': lesson.id}) }}">Подробней</a>
                </div>
            </div>
        </div>
    {% endfor %}

    <div>
        <hr>
    </div>

    <div>
        <a class="btn btn-outline-secondary" role="button" href="{{ path('app_lesson_new') }}">Добавить урок</a>
    </div>
{% endblock %}
