{% extends 'base.html.twig' %}

{% block title %}404 - Страница не найдена{% endblock %}

{% block body %}
    <div class="container text-center mt-5">
        <h1 class="display-4 text-danger">404</h1>
        <p class="lead">К сожалению, страница не найдена.</p>
        <a href="{{ path('app_home') }}" class="btn btn-primary mt-3">На главную</a>
    </div>
{% endblock %}