{% extends 'base.html.twig' %}

{% block title %}500 - Внутренняя ошибка сервера{% endblock %}

{% block body %}
    <div class="container text-center mt-5">
        <h1 class="display-4 text-danger">500</h1>
        <p class="lead">Что-то пошло не так. Мы уже работаем над этим.</p>
        <a href="{{ path('app_home') }}" class="btn btn-secondary mt-3">Вернуться на главную</a>
    </div>
{% endblock %}